@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background: #000;
}

h1,
h2,
h4,
p,
a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    text-align: center;
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;

    &:disabled {
        background-color: grey;
        cursor: not-allowed;
    }
}

.btn-light {
    background: transparent;
    color: #fff;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}

@keyframes slide-up {
    0% {
        transform: translateY(6rem);
        opacity: 0;
        filter: alpha(opacity = 0);
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity = 100);
        transform: tranlateY(0);
    }
}

.slide-up {
    animation-name: slide-up;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fade-in {
    0% {
        transform: scale(0.5);
        opacity: 0;
        filter: alpha(opacity = 0);
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity = 100);
        transform: scale(1);
    }
}

.fade-in {
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-timeline: view(60vh 0px);
}
